.section-header-title {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 2.8rem;
  color: var(--section-heading-color);
}

.section-header-title.center {
  text-align: center;
}

.section-header-title.left {
  text-align: left;
}

@media (max-width: 768px) {
  .section-header-title {
    font-size: 1.7rem;
  }
}
