.contact-info-section {
  background: var(--background-color);
  padding: 3rem 1rem;
  margin-top: -1rem;
  width: 100%;
}

.contact-info-inner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 100%;
  max-width: 75rem;
  margin: 1.2rem auto;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .contact-info-inner-container {
    grid-template-columns: 1fr;
  }
}
