/* .home-blog-section {
  background: var(--bg-gradient);
  padding: 3rem 1rem 5rem 1rem;
  margin-top: -0.5rem;
  width: 100%;
}

.home-blog-inner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 1024px) {
  .home-blog-inner-container {
    grid-template-columns: 1fr;
  }
} */
