.home-services-container {
  background: var(--bg-gradient);
  padding: 3rem 1rem;
  width: 100%;
  margin-top: -0.5rem;
}

.home-services-inner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  max-width: 75rem;
  margin: 1.5rem auto;
  padding: 0 1rem;
}

.home-services-inner-container a {
  text-decoration: none; /* remove underline */
  color: inherit; /* inherit color from card */
  display: block; /* ensures full card clickable */
}

@media (max-width: 768px) {
  .home-services-inner-container {
    grid-template-columns: 1fr;
  }
}
