.portfolio-section {
  background: var(--bg-gradient);
  margin: 3rem auto 0 auto;
  text-align: center;
  height: auto;
  padding: 3rem 1rem;
}

.portfolio-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.portfolio-header-title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.3rem;
  color: var(--black-text);
  padding: 1.5rem 0;
}

.portfolio-highlight {
  color: var(--highlight-text);
}

.portfolio-categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* .portfolio-category-button {
  padding: 0.7rem 1.1rem;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9rem;
  letter-spacing: 0.1px;
}

.portfolio-category-button.active,
.portfolio-category-button:hover {
  background-color: #54387a;
  color: #ffffff;
} */

.portfolio-inner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 100%;
  margin-top: 1.5rem;
  max-width: 75rem;
  padding: 1rem;
  align-items: stretch;
}

.portfolio-card-link {
  text-decoration: none;
  color: inherit;
}

.portfolio-card {
  background: #ffffff;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  border-left: 1.8px solid #9175d8;
  transition: transform 0.2s ease-in-out;
}

.portfolio-card:hover {
  transform: translateY(-4px);
}

.portfolio-card::after {
  content: "›";
  font-size: 3.5rem;
  color: #3e295d;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 2rem;
  top: 88%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
}

.portfolio-card:hover::after {
  opacity: 1;
  right: 10px;
}

.portfolio-card-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 5px;
}

.portfolio-card-info-container {
  text-align: left;
  line-height: 2rem;
  margin-top: 1rem;
}

.portfolio-card-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1rem;
}

.portfolio-card-description {
  font-size: 1rem;
  color: #555555;
  line-height: 1.8rem;
  letter-spacing: 0.1px;
  margin: 1rem 0 1rem 0;
}

.portfolio-card-type {
  margin-top: 10px;
  font-size: 1rem;
  color: #555555;
  font-weight: 550;
}

@media (max-width: 950px) {
  .portfolio-inner-container {
    grid-template-columns: 1fr;
    padding: 0.5rem;
    gap: 2rem;
  }
  .portfolio-header-title {
    font-size: 2.1rem;
    padding: 1rem;
  }
  .portfolio-categories-container {
    margin-top: 0.3rem;
  }
  .portfolio-category-button {
    padding: 0.8rem 1rem;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .portfolio-section {
    padding: 2rem 0.5rem;
  }
  .portfolio-header-title {
    font-size: 1.9rem;
  }
  .portfolio-category-button {
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
  }
  .portfolio-card {
    padding: 1rem;
  }
}
