.portfolio-section {
  background: var(--background-color);
  margin: 3rem auto 0 auto;
  text-align: center;
  height: auto;
  padding: 3rem 1rem;
}

.portfolio-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.portfolio-categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.portfolio-inner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  max-width: 75rem;
  margin: 1.5rem auto;
  padding: 1rem;
  align-items: stretch;
  /* text-align: lef */
  align-items: stretch;
}

.portfolio-card-link {
  text-decoration: none; /* removes underline */
  color: inherit; /* keeps text color same */
}

@media (max-width: 950px) {
  .portfolio-inner-container {
    grid-template-columns: 1fr;
    padding: 0.5rem;
    gap: 2rem;
  }
  .portfolio-categories-container {
    margin-top: 0.3rem;
  }
}
