.footer-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background: var(--bg-footer);
  padding: 1.3rem 1rem;
  min-height: 15rem;
}

.footer-container {
  max-width: 75rem;
  width: 100%;
}

.footer-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--button-text);
  margin-bottom: 1.3rem;
}

.footer-description {
  font-size: 1rem;
  color: var(--button-text);
  margin-top: 7rem;
}

@media (max-width: 768px) {
  .footer-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .footer-description {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .footer-description {
    font-size: 0.9rem;
    margin-top: 6rem;
  }
}
