.blog-section {
  background: var(--background-color);
  margin: 3rem auto 0 auto;
  text-align: center;
  height: auto;
  padding: 3rem 1rem;
}

.blog-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.blog-inner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 3rem;
  width: 100%;
  margin-top: 0.5rem;
  max-width: 75rem;
  padding: 1rem;
  align-items: stretch; /* make cards equal height */
}

.blog-card-link {
  text-decoration: none; /* removes underline from link */
  color: inherit; /* maintain text color */
  display: block; /* entire card clickable */
}

@media (max-width: 950px) {
  .blog-inner-container {
    grid-template-columns: 1fr;
    padding: 0.5rem;
    gap: 2rem;
  }
}
