.about-story-section {
  background: var(--background-color);
  padding: 3rem 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: -25px;
}

/* Container & Inner Flex */
.about-story-container,
.about-story-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 75rem;
  width: 100%;
  gap: 3rem;
  flex-wrap: wrap;
}

/* Image Container */
.about-story-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-story-img {
  width: 100%;
  max-width: 35rem;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Text Container */
.about-story-text-container {
  flex: 1;
  line-height: 1.6;
}

.about-story-text-description {
  font-size: 1.05rem;
  line-height: 2.2rem;
  color: var(--black-text);
  margin-bottom: 1.5rem;
}

.about-story-link {
  font-size: 1.2rem;
  color: var(--section-heading-color);
  font-weight: 600;
  text-decoration: underline;
}

/* Responsive - Tablets */
@media (max-width: 1024px) {
  .about-story-section {
    padding: 2rem 1rem;
  }
  .about-story-inner-container {
    flex-direction: column;
    text-align: center;
    gap: 3.5rem;
  }
  .about-story-image-container {
    order: 2;
    width: 100%;
  }
  .about-story-img {
    max-width: 100%;
  }
  .about-story-text-container .section-header-title {
    text-align: center;
  }
}

/* Responsive - Mobile */
@media (max-width: 650px) {
  .about-story-section {
    padding: 2rem 1rem;
  }
  .about-story-link {
    font-size: 1.1rem;
  }
}
