.about-stats-section {
  background: var(--bg-gradient);
  padding: 3rem 1rem;
  width: 100%;
  margin-top: -25px;
}

.about-stats-inner-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 on large screens */
  gap: 2rem;
  width: 100%;
  max-width: 75rem;
  margin: 1rem auto;
  padding: 0 1rem;
}

.about-stats-container-box {
  background: #ffffff;
  padding: 1.5rem;
  position: relative;
  min-height: 13rem; /* flexible instead of fixed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #54387a;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.about-stats-box-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #54387a;
}

.about-stats-box-description {
  font-size: 1rem;
  margin-top: 0.5rem;
  letter-spacing: 0.3px;
  line-height: 1.5rem;
  color: #000000;
}

@media (max-width: 1200px) {
  .about-stats-inner-container {
    grid-template-columns: repeat(2, 1fr); /* 2 per row */
  }
}

@media (max-width: 768px) {
  .about-stats-section {
    padding: 2.5rem 1rem;
  }
  .about-stats-inner-container {
    gap: 1.5rem;
  }
  .about-stats-box-heading {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

@media (max-width: 600px) {
  .about-stats-inner-container {
    grid-template-columns: 1fr;
  }
}
