/* AboutBanner Section */
.about-banner-section {
  background: var(--background-color);
  padding: 5rem 1rem 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

/* Container */
.about-banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 75rem;
  width: 100%;
  gap: 3rem;
  margin-top: 1rem;
  padding: 2.3rem 1rem;
}

/* Inner Flex Layout */
.about-banner-inner-container {
  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Left: Image + Badge */
.about-banner-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.about-banner-image {
  width: 100%;
  max-width: 35rem;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Badge */
.about-banner-badge {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  color: #28282b;
  padding: 0.5rem 0.9rem;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  font-size: clamp(0.9rem, 1.2vw, 1rem);
  font-weight: 550;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
}

.about-banner-emoji {
  font-size: 1.5rem;
}

/* Right: Text */
.about-banner-text-container {
  flex: 1;
  line-height: 1.6;
}

.about-banner-description {
  font-size: 1.05rem;
  color: var(--black-text);
  margin: 1rem 0;
  line-height: 2.2rem;
}

/* Responsive - Tablet */
@media (max-width: 1024px) {
  .about-banner-section {
    padding: 4rem 1rem 3rem 1rem;
  }
  .about-banner-inner-container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  .about-banner-text-container {
    order: -1; /* Move text above image */
    width: 100%;
  }
  .about-banner-image-container {
    width: 100%;
    justify-content: center;
  }
  .about-banner-image {
    max-width: 100%;
  }
  .about-banner-text-container .section-header-title {
    text-align: center;
  }
}

/* Responsive - Mobile */
@media (max-width: 600px) {
  .about-banner-section {
    padding: 3rem 1rem;
  }
  .about-banner-image-container {
    width: 100%;
    padding: 0;
  }
  .about-banner-image {
    max-width: 100%;
  }
  .about-banner-badge {
    padding: 0.5rem;
  }
  .about-banner-emoji {
    font-size: 1rem;
  }
}
