.about-skills-section {
  background: var(--bg-gradient);
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
}

.about-skills-inner-container {
  width: 100%;
  max-width: 75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 1rem;
}

.about-skills-education-container,
.about-skills-skill-container {
  max-width: 100%;
  text-align: left;
}

.about-skills-education-heading,
.about-skills-skill-heading {
  font-size: 2rem;
  color: var(--secondary-lavender-color);
  margin-bottom: 2rem;
  font-weight: 600;
}

.about-skills-education-list,
.about-skills-skill-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-skills-education-items-container,
.about-skills-skill-items-container {
  display: flex;
  align-items: flex-start;
}

.about-skills-education-items::before,
.about-skills-skill-items::before {
  content: "•";
  color: var(--secondary-lavender-color);
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 0.8rem;
  line-height: 1.6;
}

.about-skills-education-items,
.about-skills-skill-items {
  font-size: 1.3rem;
  color: var(--black-text);
}

@media (max-width: 1024px) {
  .about-skills-inner-container {
    grid-template-columns: 1fr;
  }

  .about-skills-education-heading,
  .about-skills-skill-heading {
    text-align: center;
    margin-bottom: 1.8rem;
  }

  .about-skills-education-container,
  .about-skills-skill-container {
    text-align: center;
    padding: 1rem;
  }

  .about-skills-education-list,
  .about-skills-skill-list {
    align-items: center;
  }

  .about-skills-education-items-container,
  .about-skills-skill-items-container {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .about-skills-education-heading,
  .about-skills-skill-heading {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}
