.about-skills-section {
  background: var(--background-color);
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
}

.about-skills-inner-container {
  width: 100%;
  display: grid;
  max-width: 75rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 3rem 1rem;
  align-items: stretch; /* stretch all grid items to tallest */
}

.about-skills-card-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; /* important to allow stretching */
}

.about-card {
  flex: 1; /* take up remaining height inside wrapper */
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-left: 1.8px solid #54387a;
  display: flex;
  flex-direction: column;
}

.about-skills-education-container,
.about-skills-skill-container {
  max-width: 100%;
  /* text-align: left; */
}

@media (max-width: 1024px) {
  .about-skills-inner-container {
    grid-template-columns: 1fr;
  }
  .about-skills-card-wrapper .section-header-title {
    text-align: center !important;
    width: 100%;
  }
  .about-skills-education-container,
  .about-skills-skill-container {
    text-align: center;
  }
  .about-skills-education-container .section-header-title,
  .about-skills-skill-container .section-header-title {
    text-align: center;
  }
}
