.btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  display: inline-block;
}

/* Sizes */
.btn.medium {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
}

/* navbar button */
.btn.nav {
  /* background-color: var(--nav-btn-bg);
  color: var(--nav-btn-text); */
  background-color: var(--bg-button);
  color: var(--button-text);
}

/* Primary button (CV download or main actions) */
.btn.primary {
  background-color: var(--bg-button);
  color: var(--button-text);
}

/* Secondary button(filter/category buttons) */
.btn.secondary {
  background-color: #ffffff;
  color: #54387a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.1px;
  padding: 0.6rem 1rem;
}
.btn.secondary:hover,
.btn.secondary.active {
  background-color: #54387a;
  color: #ffffff;
}

/* Footer button */
.btn.footer {
  background-color: var(--button-text);
  color: var(--footer-button-text);
}

@media (max-width: 480px) {
  .btn.medium {
    padding: 0.4rem 0.7rem;
    font-size: 0.9rem;
  }
}
